body { 
margin: 0;
padding: 0; 
background: #FEFDFA;
color: #5B5B5A;
line-height: 24px;
font-size: 16px;
/*font-family: "Mercury SSm A","Mercury SSm B",Georgia,Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;*/
//font-family: Georgia, Verdana, sans-serif;
font: normal 1em 'trebuchet ms', arial, sans-serif;
line-height: 1.5em;
}

a { color: #000088; }
a:hover { color: #880000; }

#wrap { 
margin: 0 auto;
width: 100%;
max-width: 800px;
}

#header {
height: 200px;
font-family: "Mercury SSm A","Mercury SSm B",Georgia,Baskerville,"Baskerville Old Face","Hoefler Text",Garamond,"Times New Roman",serif;
}
#header h1 {
padding: 35px 0 0 0;
margin: 0;
font-weight: normal;
color: #5B5B5A;
font-size: 40px;
line-height: 70px;
//font-family: "Mercury Display A","Mercury Display //B",Georgia,Baskerville,"Baskerville Old Face","Hoefler //Text",Garamond,"Times New Roman",serif;
}
#header h2 {
padding: 0 0 8px 0;
margin: 0;
font-weight: normal;
color: #5B5B5A;
font-size: 28px;
}

#menu {
background: #D00000;
height: 30px;
line-height: 30px;
color: #FEFDFA;
font-size: 18px;
/*font-family: "Tungsten A","Tungsten B",HelveticaNeueCondensed,HelveticaNeue-Condensed,"Helvetica Neue Condensed",HelveticaNeueRomanCondensed,HelveticaNeue-Roman-Condensed,"Helvetica Neue Roman Condensed","Arial Narrow",HelveticaNeue,"Helvetica Neue",HelveticaNeueRoman,HelveticaNeue-Roman,"Helvetica Neue Roman",Helvetica,Tahoma,Geneva,Arial,sans-serif;*/
font-feature-settings: "kern" 1;
//font-weight: 200;
//letter-spacing: 0.2px;
//text-transform: uppercase;

}

#menu ul {
margin: 0;
padding: 0 0 0 10px;
list-style-type: none;
}
#menu ul li {
display: inline; 
padding: 0 10px;
}
#menu ul li a {
text-decoration: none;
color: #fff;
}
#menu ul li a:hover {
color: #880000;
text-decoration: none;
}

#content { background: #fff; padding: 10px 20px;}
#content p { text-align: justify; }
#content a {color: #137CBD;}
#content a:hover {color: #1B9AE8;}
#content h1 {font-weight: normal; font-size: 25px; color: #137CBD; }
#content h2 { padding-top: 10px; font-weight: normal; font-size: 22px; color: #137CBD; }
#content h3 { font-weight: normal; font-size: 21px; background: #fff88e; padding: 10px; color: red; }

#footer { 
background: #5b5b5a;
color: #C1C0BE;
padding: 20px 30px;
text-align: left;
}
#footer a { color: #C1C0BE; text-decoration: none; }
#footer a:hover { color: #fff88e; }

.left { float: left; }
.right { float: right; text-align: right;}
.clear { clear: both; }
